.home {
    padding:3rem 0;
    
}

.home_container {
    display: flex;
    width: 100%;
    padding: 0 4rem;
}

.home_box {
    display: flex;
    justify-content: center;
}

.home_title {
    font-size: 3em;
    line-height: 1.6;
    width: 75%;
}

.title_color--code {
    color: #f6a8ff69;
}

.title_color--sec {
    color: var(--sc-color);
}

.title_color--blue {
    color: #065973;
}

.title_color--vio {
    color: #9F1066;
}

.home_tag {
    color: var(--sc-color);
    border: var(--sc-color) solid 2px;
    border-radius: 50%;
    height: fit-content;
    padding: 0.9rem 0.5rem;
    font-size: 2em;
    width: fit-content;
}

.home_presentation{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.presentation_text {
    font-size: 1.3em;
    color: #211707;
    width: 65%;
    line-height: 1.6;
}

.home_project {
    height: 64rem;
    width: 100%;
    background-color: var(--main-color);
    padding: 4rem 4rem;
    /* position: relative; */
}

.home_contact {
    height: 35rem;
    display: flex;
    width: 100%;
    padding: 0 4rem;
    flex-direction: column;
    align-items: center;
}

.contact_item {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    width: 55rem;
}

.tag_container {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.contact_link {
    color:#211707;
    text-decoration: none;
    font-size: 2em;
}

.project_tag {
    color: var(--bg-color);
    border: var(--bg-color) solid 2px;
    border-radius: 50%;
    height: fit-content;
    padding: 1.5rem 1rem;
    font-size: 2em;
    width: fit-content;
}

.project_tag_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button_container {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.button_tag {
    border-radius: 15px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1em;
    border: none;
}

.black {
    color: black;
    border: black 2px solid;
}

.red {
    color: red;
    border: red solid 2px;
}

.blue {
    color: #065973;
    border: #065973 solid 2px;
}

.green {
    color: #237C03;
    border: #237C03 solid 2px;
}

.violet {
    color: #9F1066;
    border: #9F1066 solid 2px;
}

.orange {
    color: orange;
    border: orange solid 2px;
}

.pink {
    color: #e9503f;
    border: #e9503f solid 2px;
}

.project_container {
    
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project_wrapper {
    perspective: 1000px;
    perspective-origin: top; 
}

.project_wrapper:hover .project {
    transform: rotateY(180deg);
}

.project {
    position: relative;
    width: 28rem;
    height: 20rem;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.project_front, .project_back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.project_front {
    background-color: rgba(246, 168, 255, 0.15);
    border-radius: 90px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.front_up {
    height: 10rem;
    background-color: var(--bg-color);
    border-radius: 90px 0 0 0;
    text-align: center;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
}

.front_title {
    font-size: 1.5em;
    color: #211707;
}

.up_describe {
    font-size: 1.2em;
    color: #211707;
    padding-top: 3rem;
}

.front_down {
    width: auto;
    height: 5rem;
    background: var(--bg-color);
    border-radius: 0 0 90px 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.down_list {
    display: flex;
    flex-wrap: wrap;
}

.down_list > li {
    margin: 0 1.5rem 0.5rem 0;
}

.project_link {
    font-size: 1.5em;
    color: var(--bg-color);
    margin: 0.5rem 0 4rem 0;
    width: 100%;
    display:flex;
    justify-content: end;
}

.project_back {
    background-color: rgba(246, 168, 255, 0.15);
    border-radius: 90px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem 1.5rem;
    cursor: pointer;
    transform: rotateY(180deg);
}

.back_container > img {
    width: 25rem;
    height: 18rem;
    border-radius: 90px 0 90px 0;
    object-fit: cover;
}