
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color:var(--main-color);
}

.modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 15% auto;
    padding: 2rem;
    width: 50%;
    position: relative;
    animation: modal-enter 0.8s;
    overflow: auto;
    background-color:rgba(245, 233, 226, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@keyframes modal-enter {
  from { opacity: 0; }
  to { opacity: 1; }
}



.modal_slider {
  display: flex;
  width: 50%;
  border-radius: 15px;
  justify-content: center;
}

.modal_slider > button {
  background-color: inherit;
  border: none;
  color: var(--sc-color);
  font-size: 3em ;
  padding: 1rem;
  cursor: pointer;
}

.slider{
  width: 90%;
  overflow: hidden;
  border-radius: 15px;
}

.slider_img {
  width: 100%;
}

.slider_dots {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: none;
  border: var(--sc-color) solid 2px;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: var(--sc-color);
  position: relative;
}

.modal_close {
    position: absolute;
    top: 0.1rem;
    right: 1rem;
    font-size: 3em;
    color: var(--sc-color);
    cursor: pointer;
}


.modal_text {
    background-color: var(--bg-color);
    width: 90%;
    line-height: 1.8;
    font-size: 1.3em;
    padding: 2rem;
    border-radius: 15px;
    color: var(--txt-color);
    white-space: pre-line;
}

.modal_text > h2 {
    font-size: 1.8em;
    text-align: center;
}

.text_link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.link_slide {
  text-decoration: none;
  display: flex;
  color: var(--txt-color);
  position: relative;
}

.link_slide::before {
  content: "";
  position: absolute;
  background: var(--txt-color);
  width: 100%;
  height: 0.15rem;
  bottom: 0;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.link_slide:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}