.Frise {
    padding-top: 4rem;
    margin-bottom: -0.1rem;
}

.Frise_rotate {
    padding-top: 4rem;
    margin-top: -0.1rem;
    transform : rotate(-180deg);
}

.Frise_rect {
    background-image: linear-gradient(to top, #301747, #502459, #72326a, #954179, #b95185, #cd648a, #e0778f, #f18c96, #f4a5a0, #f5bdb0, #f5d3c6, #f5e9e2);
    height: 5rem;
}

/* .rect_round {
    margin-bottom: -2.8rem;
    height: 7.25rem;
    display: flex;
    overflow: hidden;
}


.Frise_round_one {
    margin-left: -1rem;
    width: 25%;
    height:170%;
    border-radius: 50%;
    background-color: var(--main-color);
}

.Frise_round_two {
    margin-left: -1rem;
    width: 15%;
    height:90%;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.Frise_round_three {
    margin-left: -1rem;
    width: 25%;
    height:170%;
    border-radius: 50%;
    background-color: var(--main-color);
}

.Frise_round_for { 
    margin-left: -1rem;
    width: 15%;
    height:90%;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.Frise_round_five {
    margin-left: -1rem;
    width: 25%;
    height:170%;
    border-radius: 50%;
    background-color: var(--main-color);
}

.Frise_round_six { 
    margin-left: -1rem;
    margin-right: -1rem;
    width: 15%;
    height:90%;
    border-radius: 50%;
    background-color: var(--bg-color);
} */



