.Frise {
    padding-top: 4rem;
}

.Frise_rotate {
    padding-top: 4rem;
    transform : rotate(-180deg);
}

.Frise_rect {
    background-color: var(--main-color);
    height: 4.68rem;
    margin-top: -3rem;
}

.rect_round {
    margin-bottom: -2.8rem;
    height: 7.25rem;
    display: flex;
    overflow: hidden;
}


.Frise_round_one {
    margin-left: -0.5rem;
    width: 28rem;
    height: 7.25rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

.Frise_round_two {
    margin-left: -1rem;
    width: 20rem;
    height: 7.25rem;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.Frise_round_three {
    margin-left: -1rem;
    width: 28rem;
    height: 7.25rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

.Frise_round_for { 
    margin-left: -1rem;
    width: 20rem;
    height: 7.25rem;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.Frise_round_five {
    margin-left: -1rem;
    margin-right: -1rem;
    width: 28rem;
    height: 7.25rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

/* .Frise_round_six { 
    margin-left: -1rem;
    width: 20rem;
    height: 7.25rem;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.Frise_round_seven { 
    margin-left: -1rem;
    margin-right: -1rem;
    width: 25rem;
    height: 7.25rem;
    border-radius: 50%;
    background-color: var(--main-color);
} */

